body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    background: white;
    color: black;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 20px;
}

#logo{
    width: 6%;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
}

img {
    margin-top: 15px;
    border-radius: 10px;
    width: 50%;
}