<!DOCTYPE html>
<html>
<head>
    <title>AI Image Detector</title>

    <!-- Link CSS -->
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1><img src="{{ url_for('static', filename='logo.png') }}" id="logo"/> AI Image Detector</h1>
    <p>Upload an image to check if it is Real or AI Generated.</p>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required id="demo">
        <br>
        <button type="submit">Check Image</button>
    </form>

    {% if prediction %}
        <div class="result">
            <h3>Result: {{ prediction }}</h3>
            <h4>Confidence: {{ confidence }}%</h4>
            <img src="{{ img_path }}">
        </div>
    {% endif %}

</div>

</body>
</html>